.chat--wrapper {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(90deg, #B235FF -18.3%, #FA982F 110.1%);
    height: 100vh;
    overflow: auto;
}

.chat--image {
    flex-grow: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.chat--image img {
    width: max(200px, 60%);
}

.chat--chatbox {
    flex-grow: 1;
    border-radius: 2rem;
    background-color: white;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    width: 600px;
    padding: 2rem;
    min-height: min-content;
}

.chat--chatbox .dialogue {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    overflow: auto;
}

.dialogue .character {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.37), rgba(255, 255, 255, 0.37)), linear-gradient(180deg, #E77D67 0%, #F18B4A 100%);
    padding: 1rem;
    margin-right: 5rem;
    border-radius: 1rem;
    width: fit-content;
}

.dialogue .user {
    background-color: #D66698;
    padding: 1rem;
    margin-right: 2rem;
    border-radius: 1rem;
    margin-left: 5rem;
    width: fit-content;
    align-self: flex-end;
}

.chat--chatbox .prompt {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.chat--chatbox .prompt input{
    border: solid;
    width: 85%;
    border-radius: 3rem;
    height: 1.5rem;
    padding-left: 1rem;
}

.chat--chatbox .prompt button {
    background-color: white;
    border: none;
}