.login--background {
    background: linear-gradient(89.64deg, #BD44E0 1.1%, #F45341 99.69%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    border: solid;
    width: 604px;
    height: 600px;
    background-color: white;
    border: none;
    border-radius: 1rem;
    margin: 20%;
    padding: 1rem;
}



.loginChooser {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.loginChooser .chosen {
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 1rem;
    border-radius: .5rem;
    width: 100%;
    text-align: center;
}

.loginChooser .notChosen {
    border-radius: .5rem;
    text-align: center;
    color: white;
    background: rgba(17, 17, 17, 0.25);
    padding: 1rem;
    width: 100%;
}

.login--choice {
    font-size: 1.5rem;
}

GoogleButton {
    border-radius: 2rem;
}

.login--input {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.login--input input {
    height: 2rem;
    border: 1px solid rgba(102, 102, 102, 0.35);
    border-radius: 12px;
    padding-left: 1rem;
}
.login--input #email {
    grid-column: 1 / 3;
    height: 2rem

}

.login--button {
    grid-column: 1 / 3;
    width: 100%;
    border: none;
    height: 3rem;
    border-radius: 2rem;
    color: white;
    background: rgba(17, 17, 17, 0.25);
}

.login--button {
    cursor: pointer;

}